global
  debug
defaults
  log global
  mode http
  option httplog
  option dontlognull
  timeout connect 5000
  timeout client 50000
  timeout server 50000
frontend http_front
  bind *:5001
  stats uri /haproxy?stats
  default_backend http_back
listen nomad
  bind 0.0.0.0:3646
  balance roundrobin {{range service "nomad" }}
  server {{.Node}} {{.Address}}:4646 check{{end}}
listen vault
  bind 0.0.0.0:3200
  balance roundrobin
  option httpchk GET /v1/sys/health{{range service "vault"}}
  server {{.Node}} {{.Address}}:8200 check{{end}}
listen consul
  bind 0.0.0.0:3500
  balance roundrobin {{range service "consul" }}
  server {{.Node}} {{.Address}}:8500 check{{end}}
backend http_back
  balance roundrobin{{range service "django"}}
  server {{.Node}} {{.Address}}:{{.Port}} check{{end}}
